.cartCardTable {
  border-collapse: separate; /* Ensure border-spacing works */
}
.cartCardTr td {
  font-size: 24px !important;
  font-family: var(--font-kumbh-sans);
  padding: 10px;
}

.cartCardTr td:nth-of-type(2) {
  padding-left: 140px;
}
